* {
  box-sizing: border-box;
  font-family: 'Inconsolata', monospace;
  scroll-behavior: smooth; }

html {
  background-color: rgba(1, 1, 1, 0.1); }

body {
  max-width: 1400px;
  margin: 0 auto; }

svg {
  width: 50px;
  height: 50px; }

.flex {
  display: flex; }

h2 {
  text-align: center;
  color: white;
  font-size: 2rem;
  margin: 0;
  padding: 20px 0 20px 0; }

#aboutMe {
  background-color: #af9d00;
  background: linear-gradient(rgba(175, 157, 0, 0.5), rgba(175, 157, 0, 0.5)), url("https://placeimg.com/640/480/nature/grayscale");
  color: white; }
  #aboutMe img {
    border-radius: 50%;
    border: solid 1px white;
    height: 200px;
    width: 200px; }
  #aboutMe .introduction {
    flex: 2;
    margin: 0 40px 50px 0; }
    #aboutMe .introduction * {
      font-family: 'Montserrat', sans-serif; }
  #aboutMe .profileImage {
    flex: 1;
    display: flex;
    justify-content: center;
    margin-top: 2.5rem; }

#contactMe {
  background-color: #8c8c8c;
  height: 600px; }

footer {
  background-color: #a0a0a0; }

header {
  background-color: gainsboro;
  height: 600px; }
  header h1 {
    text-align: center;
    padding: 120px 0 0 0;
    margin: 0;
    color: #af9d00;
    font-size: 5rem;
    font-family: 'Inconsolata', monospace;
    position: relative;
    z-index: 1000; }
  header #img1 {
    left: 300px;
    position: relative;
    top: -150px;
    height: 400px;
    width: 300px;
    transition: top linear 2s; }
  header #img2 {
    left: 400px;
    position: relative;
    top: -150px;
    height: 400px;
    width: 300px; }

nav {
  background-color: transparent;
  display: flex;
  align-items: center;
  height: 50px;
  color: white;
  position: fixed;
  top: 5px;
  width: 100%;
  max-width: 1400px;
  z-index: 2000; }
  nav ul {
    list-style-type: none;
    margin-right: 40px; }
  nav span {
    flex: 1;
    margin-left: 40px; }
  nav a {
    color: white;
    background-color: rgba(175, 157, 0, 0.6);
    margin-left: 10px;
    text-decoration: none;
    padding: 5px 10px;
    text-transform: uppercase;
    border: solid 1px transparent; }
    nav a:hover {
      background-color: #af9d00;
      border: solid 1px white; }

#projects {
  background-color: #6e6e6e; }
  #projects .grid {
    padding-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "directory directory dashboard dashboard gallery gallery" "stylesheet stylesheet stylesheet form form form"; }

.project {
  perspective: 2000px;
  height: 300px;
  width: 300px;
  margin: 50px auto 20px auto; }

.cube {
  transform-style: preserve-3d;
  transition: transform 1.5s ease-in-out; }
  .cube:hover {
    transform: rotateX(270deg) rotateY(360deg); }

.front,
.back,
.right,
.left,
.top,
.bottom {
  backface-visibility: hidden;
  background-color: white;
  height: 100%;
  width: 100%; }

.front {
  transform: translateZ(150px); }

.back {
  position: absolute;
  top: 0;
  transform: rotateY(180deg) translateZ(150px); }

.right {
  position: absolute;
  top: 0;
  transform: rotateY(90deg) translate3d(150px, 0, 0);
  transform-origin: top right; }

.left {
  position: absolute;
  top: 0;
  transform: rotateY(-90deg) translate3d(-150px, 0, 0);
  transform-origin: top left; }

.top {
  position: absolute;
  top: 0;
  transform: rotateX(90deg) translateZ(150px); }

.bottom {
  position: absolute;
  top: 0;
  transform: rotateX(-90deg) translateZ(150px); }

.directory {
  grid-area: directory; }

.dashboard {
  grid-area: dashboard; }

.gallery {
  grid-area: gallery; }

.stylesheet {
  grid-area: stylesheet; }

.form {
  grid-area: form; }

/*# sourceMappingURL=style.css.map */
