.html, .css, .javascript, .fetch-API, .jquery, .sass, .svg, .json {
  padding: 5px;
  border-radius: 100px;
  display: inline-block;
  font-size: 0.5rem;
  font-family: 'Montserrat', sans-serif; }
  @media (min-width: 820px) {
    .html, .css, .javascript, .fetch-API, .jquery, .sass, .svg, .json {
      font-size: 0.7rem; } }

@keyframes leftSpin {
  from {
    transform-origin: 50% 50%;
    transform: rotateX(6deg) rotateY(6deg); }
  to {
    transform-origin: 50% 50%;
    transform: rotateX(-180deg) rotateY(-270deg) translate3d(0px, 40px, 0px);
    zoom: 120%; } }
@keyframes leftReverse {
  from {
    transform-origin: 50% 50%;
    transform: rotateX(-180deg) rotateY(-270deg) translate3d(0px, 40px, 0px);
    zoom: 120%; }
  to {
    transform-origin: 50% 50%;
    transform: rotateX(6deg) rotateY(6deg); } }
@keyframes rightSpin {
  from {
    transform-origin: 50% 50%;
    transform: rotateX(6deg) rotateY(-6deg); }
  to {
    transform-origin: 50% 50%;
    transform: rotateX(180deg) rotateY(270deg) translate3d(0px, 40px, 0px);
    zoom: 120%; } }
@keyframes rightReverse {
  from {
    transform-origin: 50% 50%;
    transform: rotateX(180deg) rotateY(270deg) translate3d(0px, 40px, 0px);
    zoom: 120%; }
  to {
    transform-origin: 50% 50%;
    transform: rotateX(6deg) rotateY(-6deg); } }
@keyframes centerSpin {
  from {
    transform-origin: 50% 50%;
    transform: rotateX(0deg) rotateY(0deg); }
  to {
    transform-origin: 50% 50%;
    transform: rotateX(180deg) rotateY(-90deg) translate3d(0px, 40px, 0px);
    zoom: 120%; } }
@keyframes centerReverse {
  from {
    transform-origin: 50% 50%;
    transform: rotateX(180deg) rotateY(-90deg) translate3d(0px, 40px, 0px);
    zoom: 120%; }
  to {
    transform-origin: 50% 50%;
    transform: rotateX(0deg) rotateY(0deg); } }
* {
  box-sizing: border-box;
  font-family: 'Inconsolata', monospace;
  scroll-behavior: smooth; }

html {
  background: rgba(1, 1, 1, 0.2); }

body {
  max-width: 1400px;
  margin: 0 auto;
  text-align: center;
  overflow-x: hidden; }

h2 {
  color: #998200;
  font-size: 1.5rem;
  margin: 20px;
  padding: 5px 10px;
  background-color: rgba(255, 255, 255, 0.7);
  display: inline-block; }
  @media (min-width: 820px) {
    h2 {
      font-size: 2.5rem; } }

#aboutMe {
  background-image: url("../images/section-images/IMG_1903.JPG");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding-bottom: 20px; }
  #aboutMe .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 10px auto; }
    @media (min-width: 1024px) {
      #aboutMe .container {
        flex-direction: row;
        width: 70%;
        margin: 40px auto; } }
  #aboutMe img {
    background: white;
    order: 1;
    border-radius: 50%;
    border: solid 1px white;
    height: 150px;
    width: 150px;
    display: block;
    margin: auto;
    flex: 1;
    margin-bottom: 20px; }
    @media (min-width: 820px) {
      #aboutMe img {
        height: 200px;
        width: 200px;
        order: unset; } }
    @media (min-width: 1024px) {
      #aboutMe img {
        height: 240px;
        width: 240px;
        margin: 20px; } }

.introduction {
  order: 2;
  flex: 2;
  background-color: rgba(153, 130, 1, 0.8);
  border-radius: 10px;
  font-size: 0.8rem; }
  @media (min-width: 820px) {
    .introduction {
      font-size: 1rem; } }
  @media (min-width: 1024px) {
    .introduction {
      order: unset; } }
  .introduction p {
    font-family: 'Montserrat', sans-serif;
    padding: 0; }
    @media (min-width: 1024px) {
      .introduction p {
        padding: 10px; } }

#contact {
  background-color: rgba(1, 1, 1, 0.5);
  color: white;
  padding-bottom: 10px; }
  #contact .flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px; }
  #contact .flex-contact-links {
    display: flex;
    justify-content: center;
    align-items: center; }
  #contact a {
    padding-right: 10px;
    margin: 10px 0;
    color: white; }
  #contact p {
    text-align: center; }
  #contact svg {
    width: 50px;
    height: 50px; }

.email::before {
  content: "Email";
  text-decoration: underline; }

footer {
  background-color: rgba(153, 130, 1, 0.8);
  color: black; }
  footer span {
    display: block;
    text-align: center;
    padding: 5px;
    font-size: 0.9rem; }

header {
  background-image: url("../images/section-images/Back.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  text-align: center;
  height: 550px;
  display: flex;
  flex-direction: column; }
  @media (min-width: 820px) {
    header {
      height: calc(550px * 1.4); } }
  header h1 {
    padding: 10px;
    z-index: 1000;
    color: #998200;
    border-top: 2px solid #998200;
    border-bottom: 2px solid #998200;
    font-size: 2rem;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.7);
    width: 100%; }
    @media (min-width: 820px) {
      header h1 {
        padding: 5px;
        position: absolute;
        bottom: calc(550px * 0.5);
        margin: 0;
        width: 100%;
        font-size: 6rem; } }
  header .unicode {
    display: inline-block;
    font-size: 2rem;
    color: rgba(153, 130, 1, 0.8);
    margin: 0 5px; }
    @media (min-width: 820px) {
      header .unicode {
        font-size: 5rem;
        color: rgba(153, 130, 1, 0.8); } }

nav {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  width: 100%;
  max-width: 1400px;
  z-index: 10000; }
  @media (min-width: 820px) {
    nav {
      flex-direction: row;
      color: white;
      position: fixed; } }
  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 80%;
    z-index: 1000; }
    @media (min-width: 820px) {
      nav ul {
        margin-right: 40px;
        margin-left: auto;
        width: initial; } }
  nav li {
    margin: 5px;
    background-color: rgba(153, 130, 1, 0.8);
    text-transform: uppercase;
    border: 1px solid white; }
    @media (min-width: 820px) {
      nav li {
        border-top: 1px solid transparent;
        border-right: 1px solid transparent;
        border-left: 1px solid transparent;
        display: inline-block;
        margin-left: 10px;
        background-color: transparent; }
        nav li:hover {
          background-color: rgba(153, 130, 1, 0.8);
          border: solid 1px white; } }
  nav span {
    color: white;
    text-transform: uppercase;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 10px;
    margin: 10px;
    font-size: 1.2rem; }
    @media (min-width: 820px) {
      nav span {
        margin-left: 40px; } }
  nav a {
    padding: 10px;
    text-decoration: none;
    color: white;
    display: block;
    font-size: 1.2rem; }
    @media (min-width: 820px) {
      nav a {
        display: inline-block;
        font-size: 1.2rem;
        padding: 5px 10px; } }

@media (min-width: 820px) {
  .active {
    background-color: rgba(153, 130, 1, 0.8);
    border-left: solid 1px white;
    border-right: solid 1px white;
    border-top: 1px solid white;
    transition: transform 0.3s;
    transform: scale(1.1); } }

.image-container {
  flex: 1;
  overflow: hidden;
  width: 100%;
  max-width: 1400px;
  z-index: 1;
  display: flex;
  position: absolute;
  height: 550px; }
  @media (min-width: 820px) {
    .image-container {
      height: calc(550px * 1.4); } }
  .image-container div.img1 {
    width: 50%;
    max-width: calc(1400px * 0.5); }
  .image-container div.img2 {
    width: 50%;
    max-width: calc(1400px * 0.5); }
  .image-container img {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0; }

#projects {
  background-image: url("../images/section-images/Back.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed; }
  #projects h3 {
    background-color: #3e4750;
    border-radius: 100px;
    color: white;
    padding: 10px;
    display: inline-block;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8rem; }
    @media (min-width: 820px) {
      #projects h3 {
        font-size: 1rem; } }
    #projects h3 a {
      color: white;
      font-size: 1rem; }
      @media (min-width: 820px) {
        #projects h3 a {
          font-size: 1.3rem; } }
  #projects .grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: "dashboard" "directory" "gallery" "stylesheet" "form"; }
    @media (min-width: 820px) {
      #projects .grid {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas: "directory directory dashboard dashboard" "stylesheet stylesheet gallery gallery" "form form form form"; } }
    @media (min-width: 1280px) {
      #projects .grid {
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "directory directory dashboard dashboard gallery gallery" "stylesheet stylesheet stylesheet form form form"; } }

.skills {
  margin-top: 10px; }

.html {
  background-color: #8e8eff; }

.css {
  background-color: #ff8b8b; }

.javascript {
  background-color: #793873; }

.fetch-API {
  background-color: #ff9900; }

.jquery {
  background-color: #2e7a02; }

.sass {
  background-color: #01695b; }

.svg {
  background-color: black; }

.json {
  background-color: red; }

.project {
  perspective: 4000px;
  height: 250px;
  width: 250px;
  margin: 50px auto 50px auto; }
  @media (min-width: 820px) {
    .project {
      height: 300px;
      width: 300px;
      margin: 50px auto 50px auto; } }
  .project h4 {
    margin: 0;
    font-size: 1.2rem; }
    @media (min-width: 820px) {
      .project h4 {
        font-size: 1.5rem; } }
  .project h5 {
    margin: 0;
    font-size: 0.8rem; }
    @media (min-width: 820px) {
      .project h5 {
        font-size: 1rem; } }
  .project p {
    margin: 10px 0 0 0;
    font-size: 0.7rem;
    font-family: 'Montserrat', sans-serif; }
  .project a {
    color: white;
    display: inline-block;
    margin: 5px;
    font-size: 0.9rem; }
    @media (min-width: 820px) {
      .project a {
        font-size: 1rem; } }
  .project svg {
    width: 25px;
    height: 25px; }
    @media (min-width: 820px) {
      .project svg {
        width: 50px;
        height: 50px; } }
  .project .flex {
    display: flex;
    flex-direction: column; }

.flex-svg-link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1; }

.directory .cube, .stylesheet .cube {
  transform-style: preserve-3d;
  animation: leftReverse 0.3s ease-in-out forwards; }
  @media (min-width: 1024px) {
    .directory .cube, .stylesheet .cube {
      animation: leftReverse 0.5s ease-in-out forwards; } }
  .directory .cube .back, .stylesheet .cube .back {
    box-shadow: 20px 10px 40px 10px rgba(0, 0, 0, 0.6); }
  .directory .cube .bottom, .stylesheet .cube .bottom {
    border-left: none; }
  .directory .cube:hover, .stylesheet .cube:hover {
    animation: leftSpin 0.3s ease-in-out forwards; }
    @media (min-width: 1024px) {
      .directory .cube:hover, .stylesheet .cube:hover {
        animation: leftSpin 0.5s ease-in-out forwards; } }
    .directory .cube:hover .back, .stylesheet .cube:hover .back {
      box-shadow: none; }

.gallery .cube, .form .cube {
  transform-style: preserve-3d;
  animation: rightReverse 0.3s ease-in-out forwards; }
  @media (min-width: 1024px) {
    .gallery .cube, .form .cube {
      animation: rightReverse 0.5s ease-in-out forwards; } }
  .gallery .cube .back, .form .cube .back {
    box-shadow: -20px 10px 40px 10px rgba(0, 0, 0, 0.6); }
  .gallery .cube .bottom, .form .cube .bottom {
    border-right: none; }
  .gallery .cube:hover, .form .cube:hover {
    animation: rightSpin 0.3s ease-in-out forwards; }
    @media (min-width: 1024px) {
      .gallery .cube:hover, .form .cube:hover {
        animation: rightSpin 0.5s ease-in-out forwards; } }
    .gallery .cube:hover .back, .form .cube:hover .back {
      box-shadow: none; }

.dashboard .cube {
  transform-style: preserve-3d;
  transition: transform 0.5s;
  animation: rightReverse 0.3s ease-in-out forwards; }
  @media (min-width: 1024px) {
    .dashboard .cube {
      animation: rightReverse 0.5s ease-in-out forwards; } }
  @media (min-width: 1280px) {
    .dashboard .cube {
      animation: centerReverse 0.5s ease-in-out forwards; } }
  .dashboard .cube .back {
    box-shadow: -20px 10px 40px 10px rgba(0, 0, 0, 0.6); }
  .dashboard .cube .bottom {
    border-right: none; }
  .dashboard .cube:hover {
    animation: rightSpin 0.3s ease-in-out forwards; }
    @media (min-width: 1024px) {
      .dashboard .cube:hover {
        animation: rightSpin 0.5s ease-in-out forwards; } }
    @media (min-width: 1280px) {
      .dashboard .cube:hover:hover {
        animation: centerSpin 0.5s ease-in-out forwards; } }
    .dashboard .cube:hover .back {
      box-shadow: none; }

.front,
.back,
.right,
.left,
.top,
.bottom {
  background-color: rgba(153, 130, 1, 0.8);
  height: 250px;
  width: 250px;
  backface-visibility: hidden;
  border: 2px solid rgba(255, 255, 255, 0.7); }
  @media (min-width: 820px) {
    .front,
    .back,
    .right,
    .left,
    .top,
    .bottom {
      height: 300px;
      width: 300px; } }
  .front img,
  .back img,
  .right img,
  .left img,
  .top img,
  .bottom img {
    height: 100%;
    width: 100%; }

.front {
  transform: translateZ(125px);
  border: none; }
  @media (min-width: 820px) {
    .front {
      transform: translateZ(150px); } }

.back {
  position: absolute;
  top: 0;
  transform: rotateY(180deg) translateZ(125px); }
  @media (min-width: 820px) {
    .back {
      transform: rotateY(180deg) translateZ(150px); } }

.right {
  position: absolute;
  top: 0;
  transform: rotateY(270deg) rotateX(180deg) translate3d(125px, 0, 0);
  transform-origin: right;
  padding: 10px;
  color: white; }
  @media (min-width: 820px) {
    .right {
      transform: rotateY(270deg) rotateX(180deg) translate3d(150px, 0, 0); } }

.left {
  position: absolute;
  top: 0;
  transform: rotateY(-270deg) rotateX(180deg) translate3d(-125px, 0, 0);
  transform-origin: left;
  padding: 10px;
  color: white; }
  @media (min-width: 820px) {
    .left {
      transform: rotateY(-270deg) rotateX(180deg) translate3d(-150px, 0, 0); } }

.top {
  position: absolute;
  top: 0;
  transform: rotateX(90deg) translateZ(125px); }
  @media (min-width: 820px) {
    .top {
      transform: rotateX(90deg) translateZ(150px); } }

.bottom {
  position: absolute;
  top: 0;
  transform: rotateX(-90deg) translateZ(125px); }
  @media (min-width: 820px) {
    .bottom {
      transform: rotateX(-90deg) translateZ(150px); } }

.directory {
  grid-area: directory; }

.dashboard {
  grid-area: dashboard; }

.gallery {
  grid-area: gallery; }

.stylesheet {
  grid-area: stylesheet; }

.form {
  grid-area: form; }

/*# sourceMappingURL=style.css.map */
