@keyframes leftSpin {
  from {
    transform-origin: 50% 50%;
    transform: rotateX(6deg) rotateY(6deg); }
  to {
    transform-origin: 50% 50%;
    transform: rotateX(-180deg) rotateY(-270deg) translate3d(300px, 15px, 0px); } }
@keyframes leftReverse {
  from {
    transform-origin: 50% 50%;
    transform: rotateX(-180deg) rotateY(-270deg) translate3d(300px, 15px, 0px); }
  to {
    transform-origin: 50% 50%;
    transform: rotateX(6deg) rotateY(6deg); } }
@keyframes rightSpin {
  from {
    transform-origin: 50% 50%;
    transform: rotateX(6deg) rotateY(-6deg); }
  to {
    transform-origin: 50% 50%;
    transform: rotateX(180deg) rotateY(270deg) translate3d(-300px, 15px, 0px); } }
@keyframes rightReverse {
  from {
    transform-origin: 50% 50%;
    transform: rotateX(180deg) rotateY(270deg) translate3d(-300px, 15px, 0px); }
  to {
    transform-origin: 50% 50%;
    transform: rotateX(6deg) rotateY(-6deg); } }
@keyframes centerSpin {
  from {
    transform-origin: 50% 50%;
    transform: rotateX(0deg) rotateY(0deg); }
  to {
    transform-origin: 50% 50%;
    transform: rotateX(180deg) rotateY(-90deg) translate3d(-300px, 15px, 0px); } }
@keyframes centerReverse {
  from {
    transform-origin: 50% 50%;
    transform: rotateX(180deg) rotateY(-90deg) translate3d(-300px, 15px, 0px); }
  to {
    transform-origin: 50% 50%;
    transform: rotateX(0deg) rotateY(0deg); } }
* {
  box-sizing: border-box;
  font-family: 'Inconsolata', monospace;
  scroll-behavior: smooth; }

html {
  background-color: rgba(1, 1, 1, 0.1); }

body {
  max-width: 1400px;
  margin: 0 auto; }

svg {
  width: 50px;
  height: 50px; }

h2 {
  text-align: center;
  color: white;
  font-size: 2rem;
  margin: 0;
  padding: 20px 0 10px 0; }

#aboutMe {
  background-color: #af9d00;
  background: linear-gradient(rgba(175, 157, 0, 0.5), rgba(175, 157, 0, 0.5)), url("https://placeimg.com/640/480/nature/grayscale");
  color: white;
  height: 600px; }
  #aboutMe .container {
    display: flex;
    align-items: center;
    width: 70%;
    margin: 50px auto; }
  #aboutMe img {
    border-radius: 50%;
    border: solid 1px white;
    height: 200px;
    width: 200px;
    display: block;
    margin: auto; }

.profile-picture {
  flex: 1; }

.introduction {
  flex: 2; }
  .introduction * {
    font-family: 'Montserrat', sans-serif; }

#contactMe {
  background-color: #8c8c8c;
  height: 600px; }

footer {
  background-color: #a0a0a0; }

header {
  background-color: gainsboro;
  height: calc(600px * 1.5);
  text-align: center; }
  header h1 {
    padding: 15% 0 0 0;
    margin: 0;
    color: #af9d00;
    font-size: 5rem;
    font-family: 'Inconsolata', monospace;
    position: relative;
    z-index: 1000; }
  header p {
    position: relative;
    z-index: 1000;
    color: #af9d00;
    font-size: 2rem;
    font-weight: bold;
    margin: 0; }
  header .unicode {
    display: inline-block;
    font-size: 5rem;
    color: white; }
  header .rotate {
    transform: rotate(90deg); }

nav {
  background-color: transparent;
  display: flex;
  align-items: center;
  height: 50px;
  color: white;
  position: fixed;
  top: 5px;
  width: 100%;
  max-width: 1400px;
  z-index: 10000; }
  nav ul {
    list-style-type: none;
    margin-right: 40px; }
  nav span {
    flex: 1;
    margin-left: 40px;
    text-align: left; }
  nav li {
    display: inline-block;
    background-color: rgba(175, 157, 0, 0.6);
    margin-left: 10px;
    text-transform: uppercase;
    border: solid 2px transparent; }
  nav a {
    padding: 5px 10px;
    text-decoration: none;
    color: white;
    display: inline-block; }
    nav a:hover {
      background-color: #af9d00;
      border: solid 2px white; }

.active {
  background-color: #af9d00;
  border: solid 2px white;
  transition: transform 0.5s;
  transform: scale(1.2); }

.image-container {
  height: calc(600px * 1.5);
  overflow-x: hidden;
  width: 100vw;
  max-width: 1400px;
  position: absolute;
  top: 0;
  z-index: 1; }

div.img1 {
  background: url("https://placeimg.com/300/600/tech/grayscale");
  width: 50%;
  max-width: calc(1400px * 0.5);
  height: 100%;
  display: block;
  position: absolute; }
div.img2 {
  background: url("https://placeimg.com/300/600/people/grayscale");
  width: 50%;
  max-width: calc(1400px * 0.5);
  height: 100%;
  display: block;
  position: absolute; }

#projects {
  background-color: #b6b3b3; }
  #projects .grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "directory directory dashboard dashboard gallery gallery" "stylesheet stylesheet stylesheet form form form"; }

.project {
  perspective: 2000px;
  height: 300px;
  width: 300px;
  margin: 50px auto 30px auto; }

.directory .cube, .stylesheet .cube {
  transform-style: preserve-3d;
  animation: leftReverse 0.5s ease-in-out forwards; }
  .directory .cube:hover, .stylesheet .cube:hover {
    animation: leftSpin 0.5s ease-in-out forwards; }
    .directory .cube:hover .front, .stylesheet .cube:hover .front {
      box-shadow: none; }

.gallery .cube, .form .cube {
  transform-style: preserve-3d;
  animation: rightReverse 0.5s ease-in-out forwards; }
  .gallery .cube:hover, .form .cube:hover {
    animation: rightSpin 0.5s ease-in-out forwards; }
    .gallery .cube:hover .front, .form .cube:hover .front {
      box-shadow: none; }

.dashboard .cube {
  transform-style: preserve-3d;
  animation: centerReverse 0.5s ease-in-out forwards; }
  .dashboard .cube:hover {
    animation: centerSpin 0.5s ease-in-out forwards; }
    .dashboard .cube:hover .front {
      box-shadow: none; }

.front,
.back,
.right,
.left,
.top,
.bottom {
  backface-visibility: hidden;
  background-color: white;
  height: 300px;
  width: 300px; }

.front {
  box-shadow: 20px 10px 40px 10px rgba(0, 0, 0, 0.3);
  transform: translateZ(150px); }

.back {
  position: absolute;
  top: 0;
  transform: rotateY(180deg) translateZ(150px); }

.right {
  position: absolute;
  top: 0;
  transform: rotateY(270deg) rotateX(180deg) translate3d(150px, 0, 0);
  transform-origin: right; }

.left {
  position: absolute;
  top: 0;
  transform: rotateY(-270deg) rotateX(180deg) translate3d(-150px, 0, 0);
  transform-origin: left; }

.top {
  box-shadow: 10px 20px 40px 10px rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  transform: rotateX(90deg) translateZ(150px); }

.bottom {
  position: absolute;
  top: 0;
  transform: rotateX(-90deg) translateZ(150px); }

.directory {
  grid-area: directory; }

.dashboard {
  grid-area: dashboard; }

.gallery {
  grid-area: gallery; }

.stylesheet {
  grid-area: stylesheet; }

.form {
  grid-area: form; }

/*# sourceMappingURL=style.css.map */
