// ------------------------
// Left-side cubes
// ------------------------
@keyframes leftSpin {
    from {
        transform-origin: 50% 50%;
        transform: rotateX(6deg) rotateY(6deg);
    }
    to {
        transform-origin: 50% 50%;
        transform: rotateX(-180deg) rotateY(-270deg) translate3d(0px, 40px, 0px);
        zoom: 120%;
    }
}

@keyframes leftReverse {
    from {
        transform-origin: 50% 50%;
        transform: rotateX(-180deg) rotateY(-270deg) translate3d(0px, 40px, 0px);
        zoom: 120%;
    }
    to {
        transform-origin: 50% 50%;
        transform: rotateX(6deg) rotateY(6deg);
    }
}

// ------------------------
// Right-side cubes
// ------------------------
@keyframes rightSpin {
    from {
        transform-origin: 50% 50%;
        transform: rotateX(6deg) rotateY(-6deg);
    }
    to {
        transform-origin: 50% 50%;
        transform: rotateX(180deg) rotateY(270deg) translate3d(0px, 40px, 0px);
        zoom: 120%;
    }
}

@keyframes rightReverse {
    from {
        transform-origin: 50% 50%;
        transform: rotateX(180deg) rotateY(270deg) translate3d(0px, 40px, 0px);
        zoom: 120%;
    }
    to {
        transform-origin: 50% 50%;
        transform: rotateX(6deg) rotateY(-6deg);
    }
}

// ------------------------
// Center cubes
// ------------------------
@keyframes centerSpin {
    from {
        transform-origin: 50% 50%;
        transform: rotateX(0deg) rotateY(0deg);
    }
    to {
        transform-origin: 50% 50%;
        transform: rotateX(180deg) rotateY(-90deg) translate3d(0px, 40px, 0px);
        zoom: 120%;
    }
}

@keyframes centerReverse {
    from {
        transform-origin: 50% 50%;
        transform: rotateX(180deg) rotateY(-90deg) translate3d(0px, 40px, 0px);
        zoom: 120%;
    }
    to {
        transform-origin: 50% 50%;
        transform: rotateX(0deg) rotateY(0deg);
    }
}

// -----------------------------
// 0 and 1 For Letters in Header
// -----------------------------
@-webkit-keyframes letters {
    0% {
        content: '0';
        opacity: 1;
    }
    25% {
        content: '1';
        opacity: 0;
    }
    50% {
        content: '0';
        opacity: 1;
    }
    75% {
        content: '1';
        opacity: 0;
    }
    100% {
        content: attr(data-letter);
        opacity: 1;
    }
}
@keyframes letters {
    0% {
        content: '0';
        opacity: 1;
    }
    25% {
        content: '1';
        opacity: 0;
    }
    50% {
        content: '0';
        opacity: 1;
    }
    75% {
        content: '1';
        opacity: 0;
    }
    100% {
        content: attr(data-letter);
        opacity: 1;
    }
}

@-webkit-keyframes letters2 {
    0% {
        content: '1';
        opacity: 1;
    }
    25% {
        content: '0';
        opacity: 0;
    }
    50% {
        content: '1';
        opacity: 1;
    }
    75% {
        content: '0';
        opacity: 0;
    }
    100% {
        content: attr(data-letter);
        opacity: 1;
    }
}
@keyframes letters2 {
    0% {
        content: '1';
        opacity: 1;
    }
    25% {
        content: '0';
        opacity: 0;
    }
    50% {
        content: '1';
        opacity: 1;
    }
    75% {
        content: '0';
        opacity: 0;
    }
    100% {
        content: attr(data-letter);
        opacity: 1;
    }
}

// -----------------------------
// Name and NavBar in Header
// -----------------------------
@keyframes dropdown {
    25% {
        transform: translateY(-55px);
    }
    50% {
        transform: translateY(80px);
    }
    75% {
        transform: translateY(45px);
    }
    100% {
        transform: translateY(55px); 
    }
}