// -----------------------------
// BREAKPOINTS------------------
// -----------------------------
$breakpoint-sml: 375px;
$breakpoint-med: 768px;
$breakpoint-lrg: 1200px;
// -----------------------------
// BREAKPOINTS------------------
// -----------------------------
$edgeGap: 7rem;
$sectionHeight: 500px;