// -----------------------------
// BREAKPOINTS------------------
// -----------------------------
$breakpoint-sml: 768px;
$breakpoint-med: 1024px;
$breakpoint-lrg: 1280px;
// -----------------------------
// LAYOUT------------------
// -----------------------------
$edgeGap: 40px;
$section-height: 600px;
$body-max-width: 1400px;
