// -----------------------------
// BREAKPOINTS------------------
// -----------------------------
$breakpoint-sml: 800px;
$breakpoint-med: 1024px;
$breakpoint-lrg: 1280px;
// -----------------------------
// LAYOUT-----------------------
// -----------------------------
$edgeGap: 40px;
$section-height: 600px;
$body-max-width: 1400px;
// -----------------------------
// COLORS-----------------------
// -----------------------------
$primary-color: rgb(153, 130, 0);
$primary-color-faded: rgba(153, 130, 1, 0.7);