#aboutMe {
    background-image: url('../images/section-images/IMG_1903.JPG');
    background-size: cover;
    color: $primary-font-color;
    padding-bottom: 20px;
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        margin: 0px auto;
        @include mq('medium') {
            flex-direction: row;
        }
        @include mq('large') {
            width: 80%;
            margin-bottom: 40px;
        }
    }
}
// --------------------------------------------
// Javascript fade-in elements inside container
// --------------------------------------------
.profile-picture {
    opacity: 0;
    transition: all 1s;
    border-radius: 50%;
    border: solid 1px $primary-font-color;
    height: 200px;
    width: 200px;
    margin: 0 0 10px 10px;
    @include mq('small') {
        height: 240px;
        width: 240px;
        transform: translateX(100%);
    }
    @include mq('medium') {
        min-height: 300px;
        min-width: 300px;
        order: 2;
    } 
    @include mq('large') {
        min-height: 350px;
        min-width: 350px;
    }
}
.introduction {
    opacity: 0;
    transition: all 1s;
    padding: 15px;
    background-color: rgba(150, 115, 50, 0.9); //primary-color faded
    border: 1px solid $primary-font-color;
    border-radius: 10px;
    @include mq('small') {
        transform: translateX(-100%);
    }
    @include mq('medium') {
        order: 1;
    }
    h3 {
        margin-top: 0px;
        margin-bottom: 10px;
        @include mq('small') {
            font-size: 1.5rem;
        }
    }
    span { //skills
        padding: 7px;
        margin-top: 5px;
    }
    p {
        font-family: 'Montserrat', sans-serif;
        padding: 0px;
        margin-top: 0px;
        text-align: left;
    }
    a {
        font-family: 'Montserrat', sans-serif;
        color: $primary-font-color;
    }
}

.active-fade-in {//active class added for scroll fade-in
    opacity: 1;
    transform: translateX(0);
}

// -----------------------------
// Skill styling
// -----------------------------
.skills {
    margin-top: 10px;
}
.html {
    @extend %skill;
    background-color: rgb(142, 142, 255);
}
.css {
    @extend %skill;
    background-color: rgb(255, 139, 139);
}
.javascript {
    @extend %skill;
    background-color: rgb(121, 56, 115);
}
.ajax {
    @extend %skill;
    background-color: rgb(255, 153, 0);
}
.jquery {
    @extend %skill;
    background-color: rgb(46, 122, 2);
}
.wordpress {
    @extend %skill;
    background-color: rgb(194, 194, 0);
}
.shopify {
    @extend %skill;
    background-color: rgb(0, 211, 127);
}
.sass {
    @extend %skill;
    background-color: rgb(1, 105, 91);
}
.bootstrap {
    @extend %skill;
    background-color: rgb(48, 52, 105);
}
.git {
    @extend %skill;
    background-color: rgb(0, 0, 0);
}
.json {
    @extend %skill;
    background-color: rgb(255, 0, 0);
}
.svg {
    @extend %skill;
    background-color: rgb(94, 77, 3);
}