#aboutMe {
    background-image: url('../images/section-images/IMG_1903.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    height: $section-height;

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        margin: 10px auto;
        @include mq('small') {
            flex-direction: row;
            width: 70%;
            margin: 40px auto;
        }
    }

    img {
        order: 1;
        border-radius: 50%;
        border: solid 1px white;
        height: 150px;
        width: 150px;
        display: block;
        margin: auto; 
        @include mq('small') {
            height: 240px;
            width: 240px;
            order: 2;
        }
    }
}

.profile-picture {
    flex: 1;
}

.introduction {
    order: 2;
    flex: 2;
    background-color: rgba(175, 157, 0, 0.7);
    border-radius: 10px;
    @include mq('small') {
        order: 1;
    }
    * {
        font-family: 'Montserrat', sans-serif;
        padding: 10px;
    }
}