#aboutMe {
    background-image: url('../images/section-images/IMG_1903.JPG');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding-bottom: 20px;
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        margin: 10px auto;
        @include mq('medium') {
            flex-direction: row;
            width: 70%;
            margin: 40px auto;
        }
    }
    img {
        order: 1;
        border-radius: 50%;
        border: solid 1px white;
        height: 150px;
        width: 150px;
        display: block;
        margin: auto; 
        flex: 1;
        margin-bottom: 20px;
        @include mq('small') {
            height: 200px;
            width: 200px;
            order: unset;
        }
        @include mq('medium') {
            height: 240px;
            width: 240px;
            margin: 20px;
        }
    }
}

.introduction {
    order: 2;
    flex: 2;
    background-color: rgba(175, 157, 0, 0.7);
    border-radius: 10px;
    font-size: 0.8rem;
    @include mq('small') {
        font-size: 1rem;
    }
    @include mq('medium') {
        order: unset;
    }
    p {
        font-family: 'Montserrat', sans-serif;
        padding: 0;
        @include mq('medium') {
            padding: 10px;
        }
    }
}