#contact {
    background-color: rgba(85, 85, 85, 0.4);
    color: $primary-font-color;
    padding-bottom: 10px;
    * {
        font-family: 'Montserrat', sans-serif;
    }
    .flex-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 10px;
    }
    .flex-contact-links {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 20px;
        a {
            margin: 5px;
        }
    }
    svg {
        width: 50px;
        height: 50px;
    }
}