#contact {
    background-color: rgba(1,1,1,0.5);
    padding-bottom: 20px;
    color: white;
    .flex {
        display: flex;
        justify-content: center;
    }
    a {
        padding-right: 10px;
        margin: 10px 0;
        color: white;
    }
    p {
        text-align: center;
    }
}

.email::before {
    content: "Email: ";
    color:rgba(175, 157, 0, 1);
}