footer {
    background-color: rgba(160, 130, 60, 0.9); //$primary-color faded
    color: $primary-font-color;
    border-top: 2px solid $secondary-color;
    span {
        display: block;
        text-align: center;
        padding: 5px;
        font-size: 0.9rem;
    }
}
