footer {
    background-color: rgba(160, 130, 60, 0.9); //$primary-color faded
    color: black;
    font-weight: bold;
    border-top: 2px solid $secondary-color;
    span {
        display: block;
        padding: 5px;
        font-size: 0.8rem;
    }
}
