header {
    background-image: url('../images/section-images/Back_color.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    text-align: center;
    height: $section-height;
    display: flex;
    flex-direction: column;
    @include mq('small') {
        height: calc(#{$section-height} * 1.4);
    }
    h1 {
        padding: 10px;
        z-index: 1000;
        color: $primary-color;
        border-top: 1px solid $primary-color;
        border-bottom: 1px solid $primary-color;
        font-size: 2rem;
        font-weight: bold;
        background-color: rgba(255, 255, 255, 0.6);
        width: 100%;
        text-transform: uppercase;
        @include mq('small') {
            padding: 5px;
            margin-top: 250px;
            width: 100%;
            font-size: 6rem;
        }
    }
    //html symbols in heading
    .unicode {
        display: inline-block;
        font-size: 2rem;
        color: $primary-color;
        margin: 0 5px;
        @include mq('small') {
            font-size: 5rem;
        }
    }
    #letter1::before {
        content: 'W';
        -webkit-animation: letters 4s 0.1s ease-out forwards;
    }
    #letter2::before {
        content: 'e';
        -webkit-animation: letters2 4s 0.8s ease-out forwards;
    }
    #letter3::before {
        content: 'b';
        -webkit-animation: letters 4s 0.3s ease-out forwards;
    }
    #letter4::before {
        content: '-';
        -webkit-animation: letters2 4s 0.7s ease-out forwards;
    }
    #letter5::before {
        content: 'd';
        -webkit-animation: letters 4s 0.6s ease-out forwards;
    }
    #letter6::before {
        content: 'e';
        -webkit-animation: letters2 4s 0.5s ease-out forwards;
    }
    #letter7::before {
        content: 'v';
        -webkit-animation: letters 4s 0.8s ease-out forwards;
    }
    #letter8::before {
        content: 'e';
        -webkit-animation: letters2 4s 0.1s ease-out forwards;
    }
    #letter9::before {
        content: 'l';
        -webkit-animation: letters 4s 0.7s ease-out forwards;
    }
    #letter10::before {
        content: 'o';
        -webkit-animation: letters2 4s 0.2s ease-out forwards;
    }
    #letter11::before {
        content: 'p';
        -webkit-animation: letters 4s 0.6s ease-out forwards;
    }
    #letter12::before {
        content: 'e';
        -webkit-animation: letters2 4s 0.8s ease-out forwards;
    }
    #letter13::before {
        content: 'r';
        -webkit-animation: letters 4s 0.4s ease-out forwards;
    }
}

// --------------------------
// Navbar
// --------------------------
nav {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    width: 100%;
    max-width: $body-max-width;
    z-index: 10000;
    @include mq('small') {
        flex-direction: row;
        color: white;
        position: fixed;
    }

    // My name at top of page 
    span {
        color: white;
        border-top: 1px solid white; 
        border-bottom: 1px solid white; 
        text-transform: uppercase;
        font-weight: bold;
        padding: 10px;
        margin: 10px;
        font-size: 1.2rem;
        @include mq('small') {
            margin-left: $edgeGap;
        }
    }
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        width: 90%;
        z-index: 1000;
        @include mq('small') {
            margin-right: $edgeGap;
            margin-left: auto;
            width: initial;
        }
    }
    li {
        margin: 5px;
        background-color: $primary-color-faded;
        border: 1px solid white;
        // text-transform: uppercase;
        @include mq('small') {
            border: 3px solid transparent;
            display: inline-block;
            background-color: rgba(255, 255, 255, 0.6);
            &:hover {
                background-color: white;
                border: 3px solid $primary-color;
            }
        }
    }
    a {
        padding: 10px;
        text-decoration: none;
        color: white;
        display: block;
        font-size: 1.2rem;
        @include mq('small') {
            display: inline-block;
            padding: 5px 10px;
            color: $primary-color;
            width: 89px;
        }
    }
}
// --------------------------
// Menu Spy plugin for navbar
// --------------------------
.active {
    @include mq('small') {
        background-color: white;
        border: 3px solid $primary-color;
        transition: transform 0.3s;
        transform: scale(1.2);
    }
}

// --------------------------
// Moving images on scroll
// --------------------------
.image-container {
    flex: 1;
    overflow: hidden;
    width: 100%;
    max-width: #{$body-max-width};
    z-index: 1;
    display: flex;
    position: absolute;
    height: $section-height;
        @include mq('small') {
        height: calc(#{$section-height} * 1.4);
    }
    div.img {
        &1 {
            width: 50%;
            max-width: calc(#{$body-max-width} * 0.5);
        }
        &2 {
            width: 50%;
            max-width: calc(#{$body-max-width} * 0.5);
        }
    }
    img {
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
    }
}