header {
    background-color: rgb(220, 220 , 220);
    height: calc(#{$section-height} * 1.5);
    text-align: center;
    h1 {
        padding: 15% 0 0 0;
        margin: 0;
        color: rgba(175, 157, 0, 1);
        font-size: 5rem;
        font-family: 'Inconsolata', monospace;
        position: relative;
        z-index: 1000;
    }
    p {
        position: relative;
        z-index: 1000;
        color: rgba(175, 157, 0, 1);
        font-size: 2rem;
        font-weight: bold;
        margin: 0;
    }
    .unicode {
        display: inline-block;
        font-size: 5rem;
        color: white;
    }
    .rotate {
        transform: rotate(90deg);
    }
}

// --------------------------
// Menu Spy plugin for navbar
// --------------------------
nav {
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 50px;
    color: white;
    position: fixed;
    top: 5px;
    width: 100%;
    max-width: $body-max-width;
    z-index: 10000;
    ul {
        list-style-type: none;
        margin-right: $edgeGap;
    }
    span {
        flex: 1;
        margin-left: $edgeGap;
        text-align: left;
    }
    li {
        display: inline-block;
        background-color: rgba(175, 157, 0, 0.6);
        margin-left: 10px;
        text-transform: uppercase;
        border: solid 2px transparent;
    }
    a {
        padding: 5px 10px;
        text-decoration: none;
        color: white;
        display: inline-block;
        &:hover {
            background-color:rgba(175, 157, 0, 1);
            border: solid 2px white;
        }
    }
}
.active {
    background-color:rgba(175, 157, 0, 1);
    border: solid 2px white;
    transition: transform 0.5s;
    transform: scale(1.2);
}
// --------------------------
// Moving images on scroll
// --------------------------

.image-container {
    height: calc(#{$section-height} * 1.5);
    overflow-x: hidden;
    width: 100vw;
    max-width: #{$body-max-width};
    position: absolute;
    top: 0;
    z-index: 1;
}

div.img {
    &1 {
        background: url("https://placeimg.com/300/600/tech/grayscale");
        width: 50%;
        max-width: calc(#{$body-max-width} * 0.5);
        height: 100%;
        display: block;
        position: absolute;
    }
    &2 {
        background: url("https://placeimg.com/300/600/people/grayscale");
        width: 50%;
        max-width: calc(#{$body-max-width} * 0.5);
        height: 100%;
        display: block;
        position: absolute;
    }
}
