#projects {
    background-image: url('../images/section-images/IMG_3889_1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    .grid {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
            "directory directory dashboard dashboard gallery gallery"
            "stylesheet stylesheet stylesheet form form form";
    }
}

// -----------------------------
// 3d Transforms ---------------
// -----------------------------
.project {
    perspective: 2000px;
    height: 300px;
    width: 300px;
    margin: 50px auto 50px auto;
    h3 {
        margin: 0;
        font-size: 1.5rem;
    }
    span {
        font-weight: bold;
    }
    p{
        margin: 10px 0 0 0;
        font-size: 0.7rem;
        font-family: 'Montserrat', sans-serif;
    }
    a {
        color: white;
        display: inline-block;
        margin: 5px;
    }
    // class below is to center align all information in cube //
    .flex {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}
// class below is to center align links with svg's //
.flex-svg-link {
    display: flex;
    justify-content: center;
    align-items: center;
}


// left-hand side cubes
.directory .cube, .stylesheet .cube {
    transform-style: preserve-3d;
    animation: leftReverse 0.5s ease-in-out forwards;
    &:hover {
        animation: leftSpin 0.5s ease-in-out forwards;
        .front {
            box-shadow: none;
        }
    }
}

// right-hand side cubes
.gallery .cube, .form .cube {
    transform-style: preserve-3d;
    animation: rightReverse 0.5s ease-in-out forwards;
    &:hover {
        animation: rightSpin 0.5s ease-in-out forwards;
        .front {
            box-shadow: none;
        }
    }
}

// center cubes
.dashboard .cube {
    transform-style: preserve-3d;
    transition: transform 0.5s;
    animation: centerReverse 0.5s ease-in-out forwards;
    &:hover {
        animation: centerSpin 0.5s ease-in-out forwards;
        .front {
            box-shadow: none;
        }
    }
}

.front,
.back,
.right,
.left,
.top,
.bottom {
    backface-visibility: hidden;
    background-color: rgba(175, 157, 0, 1);
    height: 300px;
    width: 300px;
}

.front {
    box-shadow: 20px 10px 40px 10px rgba(0,0,0,.6);
    transform: translateZ(150px);

}
.back {
    position: absolute;
    top: 0;
	transform: rotateY(180deg) translateZ(150px);
}
.right {
    position: absolute;
    top: 0;
	transform: rotateY(270deg) rotateX(180deg) translate3d(150px, 0, 0);
    transform-origin: right;
    padding: 10px; // padding for the informtion about project //
    color: white;
}

.left {
    position: absolute;
    top: 0;
	transform: rotateY(-270deg) rotateX(180deg) translate3d(-150px, 0, 0);
    transform-origin: left;
    padding: 10px; // padding for the informtion about project //
    color: white;
}

.top {
    box-shadow: 10px 20px 40px 10px rgba(0,0,0,.3);
    position: absolute;
    top: 0;
    transform: rotateX(90deg) translateZ(150px);
}
.bottom {
    position: absolute;
    top: 0;
    transform: rotateX(-90deg) translateZ(150px);
}


// -----------------------------
// Grid Template Areas ---------
// -----------------------------

.directory {
 grid-area: directory;
}

.dashboard {
    grid-area: dashboard;
}

.gallery {
    grid-area: gallery;
}

.stylesheet {
    grid-area: stylesheet;
}

.form {
    grid-area: form;
}